.course-div {
    margin-top: 20px;
    margin-left: 33%;
    background-color: lightblue;
    width: 500px;
    height: 200px;
    overflow: auto;
}

.course-name {
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
}

.course-price {
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 12px;
    margin-right: 5px;
}

.subjects-div {
    float: left;
    margin-right: 250px;
    margin-top: -50px;
    padding: 5px;
    height: 100px;
}

.subject {
    font-size: 20px;
}

.subject-header {
    font-size: 20px;
    font-weight: bold;
}
