.div {
    width: 100%;
    height: 895px;
}

.first {
    background-image: url("https://cdn-media-1.freecodecamp.org/images/0*ngXgBNNdx6iiWP8q.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.secondary-title {
    position: relative;
    display: block;
    width: 540px;
    margin: 10px auto;
    font-size: 40px;
}