.addToBasket {
    height: 35px;
    background-color: lightgreen;
    float: right;
    cursor: pointer;
    margin-top: 12px;
}

.buy-text {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-top: 0;
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
}
