.App {
  text-align: center;
  background-color: aliceblue;
}

.App-header {
  height: 50px;
  width: 100%;
  margin-top: 0;
  padding: 5px 0;
  background-color: lightsalmon;
}

.sub-domains {
  position: fixed;
  width: 500px;
  height: 50px;
  padding: 5px 0;
  float: right;
  right: 0px;
  top: 0px;
  background-color: salmon;
}

.subdomain {
  position: relative;
  margin-top: 12px;
  margin-right: 5px;
  display: inline-block;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}

.subdomain-splitter {
  position: relative;
  margin-top: 5px;
  display: inline-block;
  font-size: 30px;
}

.title {
  display: inline-block;
  padding-right: 2px;
  margin-top: -10px;
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
}